$dark-color: #080808;
$grey-color: grey;
$primary-color: #f35843;
$background-color: #eeeeee;
$name-color: rgb(121, 115, 115);
$blue: #2c2d87;
$light-pink: #fef8f8;
$turquoise: #185678;
$purple: #4a1878;
$song-color: #e2e2e2;
$green: green;
$yellow: #ffefb4;

$font: Arial, Helvetica, sans-serif;

$radius: 0.5rem;

